.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 99;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.3);
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    color:#545454;
}

.hero-img {
background-size: cover;
background-position: center; 
height: 500px;

}


.hero-title {
    margin-top: -100px;
    position: relative;
    color: white;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    
}

.hero-title h1 {
    border-top: 1px dotted white;
}

.top-bot-border {
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
}

.article-content {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    background-color: white;
    z-index:97;
    
}

.article-content li {
    padding-left: 20px;
}



.related-articles {
    background-color: #ebeef0;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
}

.footer {
    background-color: #f5f5f5;
    min-height:50px;
    display: block;
    padding: 20px 0 30px;
}

.footer a {
    text-decoration: none;
    color: #545454;
    padding: 10px 10px 10px 10px;
}

.fab {
  bottom: 0;
  position: fixed;
  margin: 1em;
  right: 0px;
  z-index:98;
}

.buttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;

  margin: 20px auto 0;
  position: relative;
  -webkit-transition: all .1s ease-out;
          transition: all .1s ease-out;  
}

.buttons:active, 
.buttons:focus, 
.buttons:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}

.buttons:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.container:hover 
.buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
  background-image: url("../images/amazon.jpg");
  background-size: contain;
}


/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.showcase {
    border-left: 5px solid royalblue;
}

.article-preview {
    margin-top:10px;
    border-top:1px dotted #7c949f;
    padding-bottom: 30px;
    padding-top: 20px;
    
}

.article-link {
    text-decoration: none;
    color: black;
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -60px; 
  height: 60px;
  visibility: hidden; 
}

.topics a {
    color:#545454;
}

.topics a:link {
    text-decoration: none;
}

.topics a:hover {
    color:royalblue;
}

.topics li {
    text-decoration: underline;
}

.rating {
    font-style: italic;
}